<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PracticesCsv" value="C:\Users\matt.mcgowan\Documents\Data\CSVs\T201202ADD REXT.csv"/>
    <add key="PracticesCsvHasHeaders" value="false"/>
    <add key="PrescriptionsCsv" value="C:\Users\matt.mcgowan\Documents\Data\CSVs\T201109PDP IEXT.csv"/>
    <add key="PrescriptionsCsvHasHeaders" value="true"/>
    <add key="PostcodesCsv" value="C:\Users\matt.mcgowan\Documents\Data\CSVs\England postcodes.csv"/>
    <add key="PostcodesCsvHasHeaders" value="true"/>
  </appSettings>
</configuration>